@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  /* 62.5% = 10px */
  /* 1rem = 10px */
  background-color: #000021;
}

body {
  overflow-x: hidden;
}

.main {
  height: 100vh;
  width: 100vw;
}

.header {
  width: 100vw;
  height: 10vh;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #12123e;
}

/* 
  ============================ 
        lOGO- STYLE
  ============================
  */

.logo {
  /* border: 1px solid green; */
  width: 30vw;
  height: 10vh;
}

.logo p {
  padding: 2em;
  color: white;
  /* border: 1px solid rgb(216, 13, 13); */
  width: 100%;
  height: 100%;
  align-content: center;
  /* Font */
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.navbar {
  /* border: 1px solid rgb(216, 13, 13); */
  height: 10vh;
  width: 70vw;
  align-content: center;
}

.navbar-ul {
  display: flex;
  gap: 4.8rem;
  justify-content: center;
  list-style: none;
}

.navbar-list {
  color: white;
}

.navbar-list:link,
.navbar-list:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  /* Font */
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.navbar-list:hover,
.navbar-list:active {
  color: #366dc0;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
  padding-right: 4em;
}

.mobile-nav-icon {
  width: 3rem;
  height: 3rem;
  color: white;
  border: 1.5px solid white;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* 
  ============================ 
         HOME-PAGE
  ============================
  */

.homepage-section {
  margin-top: 10vh;
  height: 90vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  /* border: 2px solid rgb(119, 0, 230); */
}

/* 
    ============================ 
     homepage-section-section left div 1 & 2
    ============================
     */

.hmpg_div_left {
  width: 50vw;
  height: 90vh;
  /* border: 1px solid wheat; */
}

.homepg-left-div1 {
  /* border: 1px solid wheat; */
  width: 50vw;
  height: 55vh;
  font-size: 9em;
  padding-left: 2.2em;
  align-content: center;
  padding-top: 1.2em;
}

.homepg-left-div1 p {
  /* border: 1px solid wheat; */
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  font-size: 1em;
}

.homepg-left-div1 h3 {
  font-family: monospace;
  margin-top: 1em;
  color: white;
  font-size: 0.5em;
}

/* homepage-section left div-2  */

.homepg-left-div2 {
  /* border: 1px solid rgb(239, 255, 18); */
  width: 50vw;
  height: 35vh;
}

.read-more {
  /* border: 1px solid white; */
  width: 8em;
  height: 3em;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #4338ca;
  border-radius: 8px;
  margin-left: 8em;
  margin-top: 2em;
  cursor: pointer;
}

.read-more a {
  color: white;
  text-decoration: none;
}

.myicons {
  width: auto;
  padding-left: 4em;
  /* border: 1px solid wheat; */
  font-size: 3.2rem;
}
.hm-pg-icon {
  color: white;
  text-decoration: none;
}

.ri-linkedin-box-fill {
  padding-left: 0.5em;
}

/* RIGHT SIDE OF HOME-PG */

.hmpg_div_right {
  width: 50vw;
  height: 90vh;
  /* border: 1px solid rgb(255, 72, 0); */
  text-align: center;
  align-content: center;
}

.hm-pg-svg {
  /* height: 70vh;
  width: auto;
  max-width: 100%; */
  height: auto;
  width: auto;
  max-width: 100%;
  border-radius: 10%;
}

/* 
  ============================ 
    About Section
  ============================
  */

.about-section {
  height: 90vh;
  width: 100vw;
  background-color: #000021;
}

.about-heading-div {
  height: 10vh;
  width: 100vw;
  /* border: 1px solid white; */
  text-align: center;
  align-content: center;
}

.about-heading-div h1 {
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
}

.about-main-div2 {
  height: 80vh;
  width: 100vw;
  display: flex;
  /* border: 1px solid rgb(184, 7, 7); */
}

.about-left-div {
  height: 80vh;
  width: 50vw;
  /* border: 1px solid white; */
}

.about-left-div img {
  height: 70vh;
  width: 100%;
}

/* About-me right div */

.about-right-div {
  height: 80vh;
  width: 50vw;
  /* border: 1px solid white; */
}

/* div-1 */
.abut-right-div1 {
  height: 40vh;
  width: 50vw;
  text-align: left;
  padding: 28px;
  line-height: 1.2;
  color: white;
  overflow: hidden;
}

.abut-right-div1 p {
  font-size: 1.7rem;
  margin: 0;
  padding: 10px;
}

/* div-2 aboutpage */

.abutinfo-right-div2 {
  height: 20vh;
  width: 100%;
  /* background-color: #12123E;   */
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
}

.about__info-title {
  font-size: 3rem;
  color: #4338ca;
  font-weight: 600;
}

.about__info-name {
  font-size: 1rem;
  color: white;
  font-weight: 100;
}

.about-right-div-3 {
  height: 20vh;
  width: 50vw;
  text-align: center;
  /* border: 1px solid white; */
}

.cv {
  width: 8.5em;
  height: 3em;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #4338ca;
  border-radius: 8px;
}

/* 
==================

Project Section

=================

*/

.project-section {
  height: 90vh;
  width: 100vw;
  background-color: #000021;
}

.project-heading-div {
  height: 10vh;
  width: 100vw;
  /* border: 1px solid white; */
  text-align: center;

  align-content: center;
}

.project-heading-div h1 {
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
}

.project-section-content-div {
  height: 80vh;
  width: 100vw;
  border: 1px solid rgb(0, 244, 61);  
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.project-card {
  margin: 5em;
  height: auto;
  width: 20vw;
  border: 1px solid #ffffff;
  border-radius: 2em;
}

.project-card img {
  padding: 5em;
  /* background-color: #4338CA; */
  width: 20vw;
  height: 40vh;
  /* border: 2px solid #ffffff; */
  border-radius: 2em;
}

.project_detail_div {
  display: flex;

  flex-direction: column;
  justify-content: space-evenly;
  height: 20vh;
  width: 20vw;
  border-radius: 2em;
  /* border: 1px solid rgb(255, 255, 255); */
}

.project_detail_div h1 {
  font-size: 1.9rem;
  /* border: 1px solid rgb(255, 255, 255); */
  text-align: center;
  font-weight: 700;
  background-color: #12123e;
  color: #ffffff;
}

.project_detail_div p {
  /* border: 1px solid rgb(255, 130, 5); */
  text-align: center;
  font-size: 1.5rem;

  color: white;
  font-style: bold;
  font-weight: 400;
}

.card-icons {
  width: auto;
  /* border: 1px solid rgb(255, 130, 5); */
  height: auto;
  font-size: 4em;
  text-align: center;
  color: white;
  padding-top: 0.5em;
}

.card-icon-link {
  color: white;
  text-decoration: none;
}

/*===== FOOTER =====*/
.footer {
  background-color: var(--first-color-dark);
  color: var(--first-color-lighten);
  text-align: center;
  height: 40vh;
  width: 100vw;
  background-color: #12123e;
}

.footer-top-div {
  height: 20vh;
  width: 100vw;
  /* border: 1px solid white; */
  align-content: center;
  color: white;
}

.footer-top-div h2 {
  font-size: 6em;
  padding-bottom: 1vh;
}
.footer-top-div p {
  font-size: 2.5em;
}
.footer-below-div {
  height: 20vh;
  width: 100vw;
  /* border: 1px solid white; */
}

.footer__social {
  font-size: 5em;
  text-align: center;
  color: white;
}

.footer__link {
  text-decoration: none;
}

.footer-below-div p {
  font-size: 3em;
  padding-top: 2vh;
  color: white;
}
